<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RM2._1.Properties.Settings.Сотрудники_предприятия"
            connectionString="Data Source=WIN-JO0SOU9O4VS\SQLEXPRESS;Initial Catalog=Сотрудники_предприятия;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>